@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Orbitron, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #13161f;
  font-weight: 600;
  @apply md:font-extrabold tracking-wider;

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  overflow-y: visible !important;
}



nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  z-index: 30;
  background-color: #101218c2;
  backdrop-filter: blur(10px);
  
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ff5e00;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 120px;
  padding-top: 100px;
  @apply md:pt-36

}

h1 {
  font-size: 40px;
  line-height: 1.1;
  @apply -mt-32 max-md:text-4xl
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cf7c1b;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 10px;
  @apply font-normal -tracking-tighter

}
button:hover {
  background-color: #ff8800;
}
button:focus,
button:focus-visible {
  outline: 2px solid #e9830e; 
}

label {
  @apply -tracking-tighter ;
}

input:focus {
  border: 2px solid #e9830e !important; 
  box-shadow: none !important;
}

.background-img {
  @apply mt-10 max-md:mt-16
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffac74;
  }
  button {
    background-color: #f9f9f9;
  }
}
